.messagesList {
	display: flex;
	flex-direction: column-reverse;
	padding: 15px;
	width: 100%;
	height: calc(100% - 40px);
	overflow-y: auto;
}

.statusMessage {
	margin: auto;
	font-size: 16px;
	text-align: center;
	color: #cdcdcd;
	cursor: default;
	user-select: none;
}

.messageBox {
	min-width: 56px;
	max-width: fit-content;
	box-shadow: 0 1px 2px #10232f26;
	background-color: #212121;
}

.messageText {
	font-size: 16px;
	margin: 4px 8px 5px;
	max-width: 100%;
	color: white;
	line-height: 1.31;
	word-break: break-word;
	white-space: pre-wrap;
	position: relative;
}

.messageContainer {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin-bottom: 5px;
}

.sentText {
	margin: 4px 8px 0;
	margin-bottom: -4px;
	font-weight: 500;
	color: #353535;
	font-size: 14px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pl-10 {
	padding-left: 10px;
}

.pr-10 {
	padding-right: 10px;
}

.justifyStart {
	align-items: flex-start;
}

.justifyEnd {
	align-items: flex-end;
}

.colorWhite {
	color: white;
}

.colorDark {
	color: #353535;
}

.backgroundBlue {
	border-radius: 15px 15px 15px 0;
	background: #2979ff;
}

.backgroundLight {
	border-radius: 15px 15px 0 15px;
	background: #f3f3f3;
}
